@import "common/foundation/variables";


.nanowrimo .laurel {
   margin-top: 15px;
   left: -7px !important; 
}

body {
    background-color: transparent;
    
}


.background-star-0,
.background-star-1,
.background-star-2 {
    position: absolute;
    background-image: url($star); 
    background-size: contain;
    background-repeat: no-repeat;
}

    
.background-star-0 { height: 4vh; width: 4vh; }
.background-star-1 { height: 5.2vh; width: 5.2vh; background-image: url($moon);  }
.background-star-2 { height: 3vh; width: 3vh; }



// ---- Main content

#main {
  padding-top: 80px;
  padding-bottom: 20px;
}

#main-outlet {
  padding: 15px;
  width: 80%;
}

.d-header {
  .contents {
    margin: 2px 0;
  }
  .login-button,
  .d-header button.sign-up-button {
    margin: 0 5px 0;
  }
  #site-logo {
    max-height: 25px;
  }
  .d-header-icons .d-icon {
    font-size: 1.5em;
  }
}

.topic-list-main-link,
.topic-list .main-link {
  line-height: 1.2;
}

img.avatar {
  border-radius: 4px;
}

.image-upload-controls {
  padding: 10px;
  .btn.btn-danger.pad-left.no-text {
    margin-right: 8px;
  }
}

#list-area {
  margin-bottom: 15px;
}

.list-controls {
  margin: auto;
  .nav-pills > li {
    background: transparent;
    border: 1px solid $primary-low;
    border-radius: 4px;
  }
}

.modal-inner-container {
  width: 95%;
  border-radius: 4px;
}

.pull-left img.avatar {
  max-width: 30px;
  max-height: 30px;
}

.topic-avatar img.avatar {
  max-width: 35px;
  max-height: 35px;
}

.topic-meta-data .names span.user-title {
  border-radius: 12px;
  flex-basis: auto;
}

.topic-list {
  .badge-notification,
  .category-topic-link td.num .badge-notification {
    padding: 2px 6px;
    font-size: 1em;
  }
  a.badge.badge-notification.unread {
    display: none;
  }
  .num a.badge-posts {
    color: $primary-low-mid;
    font-weight: normal;
  }
  .right {
    margin-left: 40px;
  }
  th,
  td {
    padding: 20px 5px;
  }
  img.avatar {
    margin-top: 4px;
  }
  > tbody > tr:first-of-type {
    border-top: 3px solid transparent;
  }
}

.categories-list .category-list {
  margin-left: 2px;
}
.category-list-item {
  border-left: none;
  border-top: 2px solid;
  .category-name {
    font-weight: normal;
  }
}

.topic-item-stats {
  margin-top: 3px;
}

#topic-title h1 {
  font-weight: normal;
}

.user-main {
  .about.collapsed-info .details {
    background: $secondary;
  }
  .about .details {
    background-color: $secondary;
  }
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
  font-size: 0.745em;
}

.list-controls .combo-box .combo-box-header {
  border: 1px solid $primary-low;
}

.tag-show-heading {
  order: -1;
  margin-right: auto;
  display: flex;
  align-items: center;
  .d-icon {
    margin: 0 5px;
  }
}

.user-table {
  margin-top: 10px;
}

.mobile-view .mobile-nav {
  width: 100%;
  background: transparent;
  border: 1px solid $primary-low;
  border-radius: 4px;
  .d-icon-caret-down,
  .d-icon-caret-up {
    margin-right: 10px !important;
  }
}

.mobile-view .mobile-nav.messages-nav,
.mobile-view .mobile-nav.notifications-nav,
.mobile-view .mobile-nav.activity-nav,
.mobile-view .mobile-nav.preferences-nav {
  position: relative;
  top: 0;
  margin-bottom: 10px;
}

.search-container .search-advanced-sidebar .search-advanced-title.btn {
  background: $tertiary-low;
  border-color: $tertiary-low;
}
