// Big thanks to jsthon for the initial work on this https://meta.discourse.org/u/jsthon/

@import "common/foundation/variables";

@mixin box-shadow($value: 8px) {
  box-shadow: 0 1px $value rgba(black, 0.18);
}

// Fix for ghost badges, though not wrong counting badges
.widget-link.badge-notification.unread-notifications:empty { 
    display: none;
}

// Fix for Banner overlap
#main .banner-box .container,
.banner-box .button-container {
  padding-top: 70px;
}

.background-container {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-style: translateZ(-1px) scale(2.1);
  background-position: scroll;
  background-color: #011b34;
  background-image: url($nano); // % Hardwire NaNo Background
}

#reply-control .reply-to .composer-action-title div.action-title,
div.topic-header-participants,
.extra-info-wrapper div.extra-info,
.presence-users div.presence-avatars {
    overflow: visible;
}

.d-header-icons .icon {
    padding: 0px;
}

.d-header .icons .icon {
    background: none;
}

.d-header .icons .icon#search-button,
.d-header .icons .icon#toggle-hamburger-menu {
    top: 2px;
    background-color: #222;
    width: 32px;
    height: 32px;
    font-size: 0.7em;
    padding: 0em;
    border-radius: 50% !important;
    box-shadow: 0.5px 0.5px 0px 1px $tertiary, 0px 0px 0px 2px $primary;
}

.d-header .icons .icon#search-button:hover,
.d-header .icons .icon#toggle-hamburger-icon:hover {
    background-color: #666;
}

.d-header-icons .d-icon {
    color: #aaa;
}
.d-header-icons .icon:hover .d-icon {
    color: #ccc;
}


.d-header {
  top: 0;
}

img.avatar {
    border-radius: 50% !important;
}

img.avatar,
.topic-post-badges .badge-notification.new-posts,
.topic-post-badges .badge-notification.unread,
.badge-notification.widget-link,
.badge-notification.clicks {
   box-shadow: 1px 1px 0px 0px $tertiary, 0px 0px 0px 2px $primary;
}

.card-huge-avatar img.avatar,
.main-avatar img.avatar {
    box-shadow: 0px 0px 0px 1px $primary, -1px -1px 0px 2px $primary, 1px 1px 0px 3px $tertiary,  0px 0px 0px 5px $primary;
}

.topic-list .posters a:first-child img.avatar.latest:not(.single) {
    box-shadow: 0.5px 0.5px 0px 1px $highlight, 0px 0px 0px 2px $primary !important;
    border: 0px !important;
    position: relative;
    top: 0px;
    left: 0px;
}

.menu-panel .menu-container-footer-links li a.widget-link[data-id="25"],
.menu-panel .menu-container-footer-links li a.widget-link[data-id="25"]:hover,
.menu-panel .menu-container-footer-links li a.widget-link[data-id="25"]:active,
.menu-panel .menu-container-footer-links li a.widget-link[data-id="25"]:focus{
    background-color: #222222;
    color: #ccc;
    cursor: default;
}

.drop-down-mode .d-header-icons .active .icon {
    background-color: transparent;    

}

.menu-panel li a.widget-link.cakeday-link {
   display: none; 
}

::selection {
    background-color: $quaternary-low;
}

// ------ End custom styles.

tbody {
  border-width: 1px;
}

#main-outlet {
  margin-top: 120px;
  margin-bottom: 120px;
  background: $secondary; // % Remove transparent backround
  border-radius: 0px;
  width: 75%;
  max-width: 930px;
  padding: 3em 3em 130px;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 775px) {
    padding: 1.5em;
  }
  padding-bottom: 130px !important; //overriding inline style
  @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

.btn,
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid $primary-low;
  color: $primary-high;
  background: transparent;
  border-radius: 4px;

  &:hover {
    background: $tertiary-low;
    color: $tertiary;
  }
}

.btn-danger {
  background: $danger;
  color: $secondary;
  &:hover {
    background: darken($danger, 10%);
    color: $secondary;
  }
}

.btn-primary {
  background: $tertiary;
  color: $secondary;
  border-color: $tertiary;
}

#reply-control {
  border-radius: 10px 10px 0 0;
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    .d-icon {
      color: $tertiary;
    }
    &:hover {
      background: $tertiary-low;
    }
  }
  .d-editor-button-bar {
    .select-kit.dropdown-select-box .dropdown-select-box-header {
      border: none;
    }
  }
}

.open .grippie {
  background: transparent;
  &:before {
    border-color: $primary-low;
  }
}

.d-editor-button-bar .btn {
  border: none;
  color: $tertiary;
  .d-icon {
    color: $tertiary;
  }
  &:hover {
    background: $tertiary-low;
    .d-icon {
      color: $tertiary;
    }
  }
}

header.d-header {
  position: fixed;
  @include box-shadow;
  .contents {
    display: flex;
    align-items: center;
  }
  .panel {
    margin-left: auto;
    order: 5;
  }
}

.d-header-icons .icon:hover {
 // background: $tertiary-low;
  .d-icon {
    color: $tertiary;
  }
}

.badge-wrapper.box {
  padding: 2px 6px 2px 5px;
  span {
    border-radius: 4px;
  }
}

.deleted .topic-body {
  background-color: rgba($danger, 0.2);
}

// Main category nav

.list-controls .combo-box .combo-box-header {
  background: transparent;
  @media screen and (min-width: 775px) {
    font-size: 1.1487em;
  }
  border-color: transparent;
}

.select-kit.combo-box.category-drop .category-drop-header,
.select-kit.combo-box.tag-drop .tag-drop-header {
  border-radius: 4px;
}

#list-area {
  margin-bottom: 0;
}

#topic-title {
  padding-top: 0;
}

.topic-map .btn {
  border-radius: 0;
}

.badge-card {
  border-radius: 4px;
}

// Horizontal topic timeline

#topic-progress-wrapper {
  right: 10vw !important;
}

#topic-progress-wrapper .topic-admin-menu-button-container .toggle-admin-menu {
  background: $secondary;
  border-radius: 4px 0 0 4px;
}

#bulk-select {
  background: transparent;
  button {
    background: $secondary;
    @include box-shadow(2px);
    &:hover {
      background: $tertiary-low;
    }
  }
}

// User pages

.user-preferences .bio-composer .d-editor-preview,
.group-form-bio .d-editor-preview,
.edit-category-tab-topic-template .d-editor-preview {
  background: $tertiary-low;
}

.badge-group {
  background: $tertiary-low;
}

.input-prepend.input-append input,
.input-prepend.input-append select {
  background: $tertiary-low;
}

.modal .modal-body {
  label .d-icon {
    color: $tertiary;
  }
}

.user-main {
  .staff-counters {
    background: $tertiary-low;
    color: $tertiary;
    a {
      color: $tertiary;
    }
    span {
      color: $secondary;
    }
  }
  .helpful-flags {
    background-color: #2ecc40;
  }
  .flagged-posts {
    background-color: #f012be;
  }
  .deleted-posts {
    background-color: #ff851b;
  }
  .warnings-received {
    background-color: #ff4136;
  }
}

// admin

.admin-controls {
  background: $tertiary-low;
  .controls {
    background: $tertiary-low;
  }
  nav {
    background: $tertiary-low;
    &:before {
      background: linear-gradient(
        to right,
        $tertiary-low 0%,
        rgba(234, 236, 238, 0) 100%
      );
    }
    &:after {
      background: linear-gradient(
        to right,
        rgba(234, 236, 238, 0) 0%,
        $tertiary-low 100%
      );
    }
  }
}

.nav-stacked {
  background: $tertiary-low;
  li {
    border-color: $tertiary-medium;
  }
}

.admin-detail {
  border-color: $tertiary-medium;
}

.content-list ul li a:hover {
  background: $tertiary-low;
}

span.user-title {
  border: 1px solid #f1be18;
  color: #f1be18 !important;
  padding: 0 4px;
  line-height: 1.2em;
  font-size: 0.85em;
  letter-spacing: 0.5px;
}

.uploaded-image-preview {
  background: $tertiary-low;
  border-radius: 4px;
}

// Select kit

.select-kit.dropdown-select-box .dropdown-select-box-header {
  &:hover {
    .d-icon {
      color: $tertiary;
    }
  }
}

.select-kit.dropdown-select-box.composer-actions .select-kit-header .d-icon {
  border: none;
}

.select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row {
  background: $tertiary-low;
  &:hover,
  &.is-highlighted {
    background: $tertiary;
  }
}

// Plugins

// Babble

.babble-sidebar {
  height: calc(100% - 5.285em);
}
.babble-sidebar-collapsed {
  border: none;
  background: transparent;
  button.widget-button {
    background: $secondary;
  }
  .d-icon {
    color: $primary;
  }
}
