@import "common/foundation/variables";

    
.sidebar-wrapper {
    --header-offset: 120px;
}

#main-outlet-wrapper .sidebar-wrapper {
  margin: 30px 0;
  background-color: var(--secondary);
  border-radius: 8px;
  top: calc(var(--header-offset) + 30px);
  height: calc(100vh - (var(--header-offset) + 60px));
  box-shadow: 0 1px 8px rgba(0,0,0,0.18);
}



.background-balloon-0,
.background-balloon-1 {
    height: 13vh;
    position: absolute;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    animation: 220s ease 0s infinite;
    animation-name: balloon;
    animation-fill-mode: forwards;
    background-position: -400vw;
}

.background-cloud-0,
.background-cloud-1,
.background-cloud-2,
.background-cloud-3,
.background-cloud-4 { // % Added 
    height: 7vh;
    position: absolute;
    background-size: contain;
    animation: 50s ease 0s infinite alternate;
    background-repeat: no-repeat;
    animation-name: cloud;
    animation-fill-mode: forwards;
}

.background-star-0,
.background-star-1,
.background-star-2,
.background-star-3,
.background-star-4 {
    position: absolute;
    background-image: url($star); 
    background-size: contain;
    background-repeat: no-repeat;
}

    
.background-star-0 { height: 4vh; width: 4vh; }
.background-star-1 { height: 5.2vh; width: 5.2vh; background-image: url($moon);  }
.background-star-2 { height: 3vh; width: 3vh; }
.background-star-3 { height: 2vh; width: 2vh; }
.background-star-4 { height: 5vh; width: 5vh; }

.background-balloon-0 {
    background-image: url($balloon-0);
    top: 60px;
}
.background-balloon-1 {
    background-image: url($balloon-1);
    top: 85vh;
    animation-delay: 89s;
}
    
.background-cloud-0 {
    background-image: url($cloud-1);
    top: 40vh;
    left: 6vw;
    width: 20vw;
    animation-delay: 15s;
}

.background-cloud-1 {
    background-image: url($cloud-4);
    height: 10vh;
    top: 40px;
    right: 13vw;
    width: 14vw;
    animation-delay: 4s;
}

.background-cloud-2 {
    background-image: url($cloud-2);
    top: 66vh;
    left: 7vw;
    width: 25vw;
}

.background-cloud-3 {
    background-image: url($cloud-0);
    bottom: 35vh;
    right: 2vw;
    width: 18vw;
    animation-delay: 2s;
}

.background-star-0 {
    animation: star 5s cubic-bezier(0.25, 1, 0.25, 1.0) 0s infinite alternate;
}

.background-star-1 {
    animation: star 23s cubic-bezier(0.8, 0.1, 1, 1.0) 4s infinite alternate;
}

.background-star-2 {
    animation: star 4s cubic-bezier(0.5, 0.6, 0.25, 1.0) 2s infinite alternate;
}

.background-star-4 {
    animation: star 7s cubic-bezier(0.5, 1.3, 0.25, 1.0) 1s infinite alternate;
}


@keyframes star {
    from {opacity: 1;}
    to {opacity: 0.5;}
}
@keyframes balloon {
    from {background-position: -400vw;}
    to {background-position: 400vw;}
}
@keyframes cloud {
    from {background-position: left;}
    to {background-position: right;}
}



@media screen and (min-width: 890px) {

.nano-typewriter-floating {
    width: 100%;
    overflow: hidden;
    margin-top: -500px;
    z-index: -1;
    bottom: 41px;
    position: sticky;
}
.nano-typewriter{
    width: 100%;
    overflow: hidden;
    bottom: -1237px;
    position: sticky;
    z-index: 2;
}


.nano-typewriter-top,
.nano-typewriter-bottom {
    background-size: 1960px;
    background-repeat: no-repeat;
}
.nano-typewriter-top {
    height: 393px;
    background-position: bottom center;
    background-image: url($typewriter-top);
}
.nano-typewriter-bottom {
    height: 1278px;
    background-position: top center;
    background-image: url($typewriter-bottom);
}

#main {
   padding-bottom: 0px; 
   
}
}


h3 {
  font-weight: normal;
}

input,
textarea {
  box-shadow: none !important;
}

img.avatar {
  border-radius: 4px;
}

.badge-wrapper {
  font-weight: normal;
}

.d-header {
  height: 70px;
  background: rgba($header_background, 0.92);
  box-shadow: 0 3px 3px rgba(100, 100, 100, 0.13);
  .panel {
    padding: 6px 0 0 0;
    flex: 0 0 auto;
  }
  button {
    &.login-button,
    &.sign-up-button {
      font-size: 1em;
    }
  }
  .icons .icon {
    @media screen and (min-width: 875px) {
      margin-left: 20px;
    }
    border-radius: 4px;
  }
  .icons {
    .unread-private-messages,
    .badge-notification,
    .unread-notifications {
      padding: 4px 6px;
      top: 0;
      background: $tertiary;
    }
  }
  .icons .flagged-posts {
    right: 85px;
  }
  #site-logo {
    max-height: 35px !important;
  }
}

.title-wrapper {
  width: auto;
}

.extra-info-wrapper .topic-link {
  font-weight: normal;
}

.list-controls {
  margin-bottom: 2em;
}

ol.category-breadcrumb {
  border-right: 1px solid $primary-low;
  padding-right: 10px;

  .badge-wrapper.bullet .badge-category-parent-bg,
  .badge-wrapper.bullet .badge-category-bg {
    width: 12px;
    height: 12px;
  }
}

.names .username {
  font-size: 1.1em;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  color: $tertiary;
  background: transparent !important;
}

nav.post-controls {
  button,
  .double-button {
    border-radius: 4px;
    button.toggle-like.like {
      border-radius: 4px !important;
    }
    &:hover {
      button {
        &:first-of-type {
          border-radius: 4px 0 0 4px;
        }
        &:last-of-type {
          border-radius: 0 4px 4px 0;
        }
        background: $tertiary-low;
        color: $tertiary;
      }
    }
  }
  button:focus,
  button.d-hover {
    background: $tertiary-low;
    color: $tertiary;
  }
}

.topic-list {
  .num a.badge-posts {
    font-weight: normal;
  }
  .sortable:hover {
    // sortable column headers
    border-radius: 4px 4px 0 0;
    background: $tertiary-low;
    color: $tertiary;
  }
}

#topic-title h1 a {
  font-weight: normal;
}

.user-nav {
  margin-top: 30px;
}

#user-card {
  background: rgba($secondary, 0.95);
  border-radius: 4px;
}

.user-main .about .details .primary {
  box-sizing: border-box;
  padding: 0 10px;
}

.timeline-container .topic-timeline {
  margin-top: 20px;
  .timeline-scrollarea {
    border-color: $primary-low;
  }
  .timeline-handle {
    background: $tertiary;
  }
}

.modal-inner-container {
  border-radius: 4px;
}

.modal-header {
  padding: 5px 30px;
  text-align: center;
  position: relative;
  .modal-close {
    position: absolute;
    right: 0;
  }
  .title {
    margin: 20px auto;
    max-width: 300px;
  }
}

.modal-header .close {
  margin: 15px;
}

.modal-body {
  padding: 25px 30px;
}

.modal-footer {
  padding: 20px 30px;
}

.modal-tab {
  width: 90%;
}

@media screen and (min-width: 550px) {
  .modal.edit-category-modal .modal-inner-container {
    min-width: 550px;
  }
}

@media (min-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
}

@media (max-width: 1200px) {
  .timeline-container {
    margin-left: 66%;
  }
}

@media (max-width: 1120px) {
  .timeline-container {
    margin-left: 70%;
  }
}

@media (max-width: 1075px) {
  .timeline-container {
    margin-left: 73%;
  }
}

@media (max-width: 1000px) {
  .timeline-container {
    margin-left: 75%;
  }
}

@media screen and (max-width: 890px) {
  .topic-body {
    width: 89%;
  }
}
